:root {
  --bg-color: #f0f0f0;
}

[data-theme="dark"] {
  --bg-color: #313131;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  background-color: var(--bg-color);
}

.main-container {
  display: flex;
  height: 70vh;
  gap: 20px;
}

.controls-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  background-color: #bbbbbb;
}

.controls-container hr {
  width: 100%;
  grid-column: span 2;
  margin: 0;
  border: 0;
  border-top: 1px solid #cccccc;
}

.chaos-slider-container {
  padding: 0 40px;
}

.chaos-slider-labels {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
}

.chaos-slider-labels span {
  /* Center the slider labels under the ends of the slider */
  width: 0;
  display: flex;
  justify-content: center;
  font-size: 0.75rem;
  text-align: center;
  white-space: nowrap;
}

.bot-color-checkbox input {
  margin-right: 12px;
}

.theme-toggle-btn {
  width: 40px;
  height: 40px;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.theme-toggle-btn svg {
  width: 100%;
  height: 100%;
}

.board-container {
  display: flex;
  height: 70vh;
  width: calc(70vh * 1.66667);
  justify-content: center;
}

.board {
  position: relative;
  display: grid;
  aspect-ratio: var(--grid-width) / var(--grid-height);
  /* Defines the board's rows and columns */
  grid-template-columns: repeat(var(--grid-width), 1fr);
  grid-template-rows: repeat(var(--grid-height), 1fr);
}

.square {
  position: relative;
  display: flex;
  aspect-ratio: 1 / 1;
  justify-content: center;
  align-items: center;
}

.square.light {
  background-color: #f0d9b5;
}

.square.dark {
  background-color: #b58863;
}

.square.selected {
  --overlay-color-fill: rgba(0, 0, 255, 0.3);
}

.square.selected-legal-move-target {
  --overlay-color-fill: rgba(0, 255, 0, 0.3);
}

/* .square.hovered {
  --overlay-color-circle: rgba(30, 144, 255, 0.3);
} */

.square.hovered-move-target {
  --overlay-color-circle: rgba(0, 255, 0, 0.3);
}

.square.selected::after,
.square.selected-legal-move-target::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color-fill);
  z-index: 10;
}

/* .square.hovered:not(.square.selected):not(.square.selected-legal-move-target)::after, */
.square.hovered-move-target:not(.square.selected):not(.square.selected-legal-move-target)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--overlay-color-circle);
  z-index: 10;
}

.piece-img,
.promo-option-img {
  display: block;
  /* Ensures the piece fills the square */
  width: 100%;
  height: 100%;
  /* Prevents distortion of the SVG image */
  object-fit: contain;
  /* Prevents the browser from treating the image as a drag and drop element, which is important for making piece 
  movement via drag and drop possible (not implemented yet) */
  user-select: none;
  -webkit-user-drag: none;
}

.promo-overlay {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.promo-options-container {
  position: absolute;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo-option {
  width: calc(70vh / var(--grid-height));
  aspect-ratio: 1 / 1;
}
